.Hero {
  background: #481269;
  padding-top:3rem;
  padding-bottom:3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 375px;
  margin-bottom: 0;
}

.HeroCodeBlock {
  margin-top: 30px
}

[data-theme='light'] .Hero {
  color: #fff;
}

@media (min-width: 996px) {
  .Hero {
    margin-bottom: 6rem;
  }
}

.w60 {
  width: 100%;
}
@media (min-width: 996px) {
  .w60 {
    width: 60%;
  }
}
